.sidebar-container {
  width: 25%;
  background-color: #d1d5db;
}
.sidebar-content_active {
  margin-top: 2em;
  padding-bottom: 2em;
  background-color: white;
}
.sidebar-content_inactive {
  margin-top: 2em;
  padding-bottom: 2em;
  background-color: white;
}
.sidebar-filter-wrapper {
  display: none;
  margin: 0.5em 0;
}
.sidebar-filter {
  color: white;
  width: 2em;
  height: 2em;
}
.sidebar-content__section {
  padding-top: 2em;
  padding-left: 1em;
}
.sidebar-content__section h2 {
  padding-bottom: 1em;
  font-size: 1rem;
  font-weight: 600;
  color: #4b5563;
}
.section-card input {
  cursor: pointer;
}
.section-card label {
  color: #64748b;
}
.section-card label:hover {
  opacity: 0.8;
}
.section-card__form {
  width: 90%;
  border: 0.06em solid black;
  margin-left: 0.3em;
  margin-bottom: 1em;
}
@media (max-width: 1051px) {
  /* .sidebar-container {
    min-width: 1051px;
  } */
}
@media (max-width: 640px) {
  .sidebar-container {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
  }
  .sidebar-content_inactive {
    display: none;
  }
  .sidebar-content_active {
    margin-top: 0;
    margin-left: 1em;
    margin-right: 1em;
    display: block;
    margin-bottom: 1em;
  }
  .sidebar-filter-wrapper {
    text-align: end;
    padding-right: 1em;
    display: block;
  }
}
