.section-container {
  display: flex;
  flex-direction: column;
}
.section-header {
  padding: 0.5em 0.8em;
  display: flex;
  justify-content: space-between;
  background-color: #0284c7;
}
.section-header__logo {
  align-self: center;
  color: white;
}
.section-header__cost {
  display: flex;
  flex-direction: column;
  text-align: end;
  color: white;
}
.section-header__cost-price {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-content {
  display: flex;
  flex-direction: column;
}
.section-btn {
  background-color: #fb923c;
  margin-bottom: 2em;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.section-btn:hover {
  opacity: 0.8;
}
.section-btn > span {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}
.section-content__separator {
  width: 100%;
  border-bottom: 0.2em solid #0284c7;
}
.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.show-more-btn {
  outline: 1px solid black;
  width: 30%;
  background-color: #e2e8f0;
  padding: 0.5em 2em;
  margin-bottom: 2em;
}
.show-more-btn:hover {
  opacity: 0.8;
}
.show-more-btn > span {
  font-size: 1.3rem;
  font-weight: 400;
}
